<h1>Category Details (Total - <%= @category.length %>)</h1>

<% @category.each do |c| %>
	<p><b><%= c.name %> (<%= c.articles.length %>)</b> - <%= link_to "show details",category_path(c.id) %>
	
	<hr>
<% end %>
<% if (user_signed_in?) && (can? :create, Category.new) %>
	<br><b><%= link_to "Add Category",new_category_path %></b>
<% end %> 


